body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: linear-gradient(180deg, #6a0dad, #4b0082);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #7b2cbf;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

.top {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background: #6a0dad;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete {
  background: red;
  border: none;
  color: white;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}